SuperZapatos/Service References/SR_Articles/ArticleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticleEntity" nillable="true" type="tns:ArticleEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticleEntity" nillable="true" type="tns:ArrayOfArticleEntity" />
  <xs:complexType name="ArticleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="store_id" type="xs:int" />
      <xs:element minOccurs="0" name="total_in_shelf" type="xs:int" />
      <xs:element minOccurs="0" name="total_in_vault" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticleEntity" nillable="true" type="tns:ArticleEntity" />
</xs:schema>